:root {
  --Black-10: #f8f8f8;
  --Black-25: #f4f4f4;
  --Black-50: #e8e8e8;
  --Black-100: #d1d1d1;
  --Black-200: #bababa;
  --Black-300: #a3a3a3;
  --Black-400: #8c8c8c;
  --Black-700: #474747;
  --Black-800: #303030;

  --Purple-700: #6a0bff;
  --Purple-800: #5509cc;

  --White-900: #fff;
}
