.back {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--Purple-700);
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 28px;
}

.back:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
