.main {
  margin-top: 40px;
}

.contentWrapper {
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  border-radius: 24px;
  padding: 24px 20px 40px 20px;
}

/* для левого меню */

.questionContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  border-radius: 24px;
  padding: 24px 20px 40px 20px;
  margin-bottom: 130px;
}

.activePage {
  border: none;
  cursor: pointer;
}
.activePage {
  cursor: default;
  background-color: var(--Purple-700);
  border-radius: 2px;
  color: var(--White-900);
}
.activePage {
  width: 22px;
  height: 23px;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

.pagination {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.pagination li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled button {
  cursor: not-allowed;
  opacity: 0.3 !important;
}
